n8n-agent-setup/workflows/Decision_Agent_final.json
{
  "name": "Decision Agent & Frontend & Multiple batches",
  "nodes": [
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/13-2l41mEY9sUmbrhmUyKpPKykH4nw75n_YTQVwzrnBY/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DDP Batch Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13-2l41mEY9sUmbrhmUyKpPKykH4nw75n_YTQVwzrnBY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{ $json.status }}",
            "Rationale": "={{ $json.reason }}",
            "Constraints": "={{ $json.new_constraints }}",
            "BatchID": "={{ $json.batch_id }}",
            "Timestamp": "={{ $now }}"
          },
          "matchingColumns": [
            "BatchID"
          ],
          "schema": [
            {
              "id": "BatchID",
              "displayName": "BatchID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rationale",
              "displayName": "Rationale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Constraints",
              "displayName": "Constraints",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        0
      ],
      "id": "4c1b4f8e-c75a-4e08-a7a8-318104eba248",
      "name": "Update sheet: FLAGGED",
      "credentials": {
        "googleApi": {
          "id": "9wpGPDQ6wuADoHR9",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/13-2l41mEY9sUmbrhmUyKpPKykH4nw75n_YTQVwzrnBY/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "DDP Batch Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13-2l41mEY9sUmbrhmUyKpPKykH4nw75n_YTQVwzrnBY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{ $json.status }}",
            "Rationale": "={{ $json.reason }}",
            "Constraints": "None",
            "BatchID": "={{ $json.batch_id }}",
            "Timestamp": "={{ $now }}"
          },
          "matchingColumns": [
            "BatchID"
          ],
          "schema": [
            {
              "id": "BatchID",
              "displayName": "BatchID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rationale",
              "displayName": "Rationale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Constraints",
              "displayName": "Constraints",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        180
      ],
      "id": "f780a648-2744-44b9-822b-744c3d08032d",
      "name": "Update sheet: GOOD",
      "credentials": {
        "googleApi": {
          "id": "9wpGPDQ6wuADoHR9",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-batch",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1200,
        80
      ],
      "id": "a67ec8dc-6236-40c1-ac2a-44fa6127941e",
      "name": "Webhook",
      "webhookId": "e44b4dac-bb45-428c-8192-1fe2e97daeac"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac4b5c73-a9dc-4448-aaf1-cd015c2da55e",
              "name": "batch_id",
              "value": "={{ $json.batch_id }}",
              "type": "string"
            },
            {
              "id": "5449a0c9-2ce0-4915-9ca0-dc37cf5f36da",
              "name": "status",
              "value": "FLAGGED",
              "type": "string"
            },
            {
              "id": "6604a565-608b-4c39-9d4e-c38d93c58860",
              "name": "reason",
              "value": "={{ $json.rationale }}",
              "type": "string"
            },
            {
              "id": "94292295-f9fb-49b5-b4a2-e5f5325e8db8",
              "name": "new_constraints",
              "value": "={{ $json.solver_updates }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "818aa5d8-059d-4aa9-8c4d-29d217ac49bd",
      "name": "Generate feedback"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "44ca6170-925a-434c-8611-01dec89f0d25",
                    "leftValue": "={{ $json.final_decision }}",
                    "rightValue": "FLAGGED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.final_decision }}",
                    "rightValue": "GOOD",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -20,
        80
      ],
      "id": "7ec5eb05-8785-4d0f-b301-df273c57b5da",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nimport re\n\nresults = []\n\n# Loop through ALL incoming items (batches), not just the first one\nfor item in items:\n    # 1. Grab the raw text for THIS specific item\n    ai_text = item.json.get('output', '')\n\n    # 2. Clean up the markdown\n    clean_text = re.sub(r'```json\\n?|```', '', ai_text).strip()\n\n    # 3. Parse into a real JSON object\n    try:\n        decision_data = json.loads(clean_text)\n    except json.JSONDecodeError:\n        decision_data = {\n            \"final_decision\": \"ERROR\", \n            \"rationale\": \"AI returned invalid JSON\", \n            \"original_output\": ai_text\n        }\n    \n    # 4. Add to our results list\n    results.append({\"json\": decision_data})\n\n# 5. Return the full list of processed items\nreturn results"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        80
      ],
      "id": "24b31d4a-d074-4199-ae95-c83ed475e95b",
      "name": "Code"
    },
    {
      "parameters": {
        "model": "gemma3:1b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -820,
        320
      ],
      "id": "7946c16f-2a51-4e3a-84f2-2a52d9e734bb",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "JbZLuRAuCPt16sy4",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "You are the Final Decision Authority in a Logistics Supply Chain.\n\nYou receive assessments from a 'Compliance Agent' and a 'Semantics Agent'.\n\nYOUR LOGIC:\n1. If ANY agent reports a \"FAIL\" status, the final decision is \"FLAGGED\".\n2. If all agents report \"PASS\", the final decision is \"GOOD\".\n\nOUTPUT FORMAT:\nYou must output ONLY a valid JSON object with no markdown formatting.\n{\n  \"final_decision\": \"GOOD\" | \"FLAGGED\",\n  \"rationale\": \"Explanation of why...\",\n  \"solver_updates\": \"If flagged, suggest what constraints to add (e.g., 'Avoid Route X')\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -820,
        80
      ],
      "id": "0813d31a-0c9c-4c8b-ad1c-d3356607c09a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1020,
        620
      ],
      "id": "71868503-9f8a-4bb5-9ae4-ba0efbaa447e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -240,
        80
      ],
      "id": "cd9195f5-786c-4370-875c-73d70efe5b3a",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d55625e1-bb04-437f-a5b0-13ed642fcee1",
              "name": "batch_id",
              "value": "={{ $json.batch_id }}",
              "type": "string"
            },
            {
              "id": "5449a0c9-2ce0-4915-9ca0-dc37cf5f36da",
              "name": "status",
              "value": "GOOD",
              "type": "string"
            },
            {
              "id": "6604a565-608b-4c39-9d4e-c38d93c58860",
              "name": "reason",
              "value": "={{ $json.rationale }}",
              "type": "string"
            },
            {
              "id": "0395df60-5116-47d0-a996-e3e8d9484e5e",
              "name": "new_constraints",
              "value": "{{ $json.solver_updates }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        180
      ],
      "id": "8ff4f378-c66e-4b4b-a2d2-468287f5d6cb",
      "name": "Shipment authorized"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate feedback": {
      "main": [
        [
          {
            "node": "Update sheet: FLAGGED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Generate feedback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Shipment authorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shipment authorized": {
      "main": [
        [
          {
            "node": "Update sheet: GOOD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f6110a88-f255-4b78-ad35-c41440f9e376",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "265d600dde9e4274dbbab9d063475fc67aec7c4ee4bba26fffa713ab4a545af4"
  },
  "id": "cEnCle07E1ktFZZE",
  "tags": []
}